In [243]:
import numpy as np
import pandas as pd

In [244]:
data=pd.read_csv('/content/Clustering.csv')

In [245]:
data

       Age    State  ...          DeliveryOye! DeliveryExp
0       55    Bihar  ...  Does not do delivery          No
1       35    Bihar  ...  Does not do delivery         Yes
2       22  Haryana  ...  Does not do delivery         Yes
3      NaN      NaN  ...                   NaN         NaN
4       31    Bihar  ...  Does not do delivery          No
...    ...      ...  ...                   ...         ...
10622  NaN      NaN  ...                   NaN         NaN
10623  NaN      NaN  ...                   NaN         NaN
10624  NaN      NaN  ...                   NaN         NaN
10625  NaN      NaN  ...                   NaN         NaN
10626  NaN      NaN  ...                   NaN         NaN

[10627 rows x 13 columns]

In [246]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10627 entries, 0 to 10626
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            2623 non-null   object
 1   State          2614 non-null   object
 2   Freq_Rickshaw  2631 non-null   object
 3   qualification  2631 non-null   object
 4   SocialMedia    2631 non-null   object
 5   Owns           2631 non-null   object
 6   Method         2631 non-null   object
 7   LoanFrom       2077 non-null   object
 8   Parking        2631 non-null   object
 9   BatteryAge     2631 non-null   float64
 10  BatteryType    2631 non-null   object
 11  DeliveryOye!   2631 non-null   object
 12  DeliveryExp    2631 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [247]:
data.isnull().sum()

Age              8004
State            8013
Freq_Rickshaw    7996
qualification    7996
SocialMedia      7996
Owns             7996
Method           7996
LoanFrom         8550
Parking          7996
BatteryAge       7996
BatteryType      7996
DeliveryOye!     7996
DeliveryExp      7996
dtype: int64

In [248]:
data.columns

Index(['Age', 'State', 'Freq_Rickshaw', 'qualification', 'SocialMedia', 'Owns',
       'Method', 'LoanFrom', 'Parking', 'BatteryAge', 'BatteryType',
       'DeliveryOye!', 'DeliveryExp'],
      dtype='object')

In [249]:
data=data.dropna()

In [250]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2064 entries, 0 to 10620
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            2064 non-null   object
 1   State          2064 non-null   object
 2   Freq_Rickshaw  2064 non-null   object
 3   qualification  2064 non-null   object
 4   SocialMedia    2064 non-null   object
 5   Owns           2064 non-null   object
 6   Method         2064 non-null   object
 7   LoanFrom       2064 non-null   object
 8   Parking        2064 non-null   object
 9   BatteryAge     2064 non-null   float64
 10  BatteryType    2064 non-null   object
 11  DeliveryOye!   2064 non-null   object
 12  DeliveryExp    2064 non-null   object
dtypes: float64(1), object(12)
memory usage: 225.8+ KB

In [251]:
data.isnull().sum()

Age              0
State            0
Freq_Rickshaw    0
qualification    0
SocialMedia      0
Owns             0
Method           0
LoanFrom         0
Parking          0
BatteryAge       0
BatteryType      0
DeliveryOye!     0
DeliveryExp      0
dtype: int64

In [252]:
data

      Age          State  ...          DeliveryOye! DeliveryExp
0      55          Bihar  ...  Does not do delivery          No
1      35          Bihar  ...  Does not do delivery         Yes
2      22        Haryana  ...  Does not do delivery         Yes
4      31          Bihar  ...  Does not do delivery          No
8      26          Bihar  ...  Does not do delivery          No
...    ..            ...  ...                   ...         ...
10572  35          Delhi  ...  Does not do delivery          No
10578  25  Uttar Pradesh  ...  Does not do delivery          No
10588  22          Delhi  ...  Does not do delivery          No
10602  38          Delhi  ...  Does not do delivery          No
10620  27  Uttar Pradesh  ...  Does not do delivery          No

[2064 rows x 13 columns]

In [253]:
!pip install kmodes

Requirement already satisfied: kmodes in /usr/local/lib/python3.7/dist-packages (0.11.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (0.22.2.post1)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.19.5)

In [254]:
from kmodes.kprototypes import KPrototypes

In [255]:
data.columns

Index(['Age', 'State', 'Freq_Rickshaw', 'qualification', 'SocialMedia', 'Owns',
       'Method', 'LoanFrom', 'Parking', 'BatteryAge', 'BatteryType',
       'DeliveryOye!', 'DeliveryExp'],
      dtype='object')

In [256]:
data.head()

  Age    State  ...          DeliveryOye! DeliveryExp
0  55    Bihar  ...  Does not do delivery          No
1  35    Bihar  ...  Does not do delivery         Yes
2  22  Haryana  ...  Does not do delivery         Yes
4  31    Bihar  ...  Does not do delivery          No
8  26    Bihar  ...  Does not do delivery          No

[5 rows x 13 columns]

**SWAPPING+DELIVERY**

In [257]:
df=data.iloc[:,8:13]

In [258]:
df

                         Parking  BatteryAge  ...          DeliveryOye! DeliveryExp
0                   In his house        12.0  ...  Does not do delivery          No
1      Charging / parking Vendor        12.0  ...  Does not do delivery         Yes
2      Charging / parking Vendor         5.0  ...  Does not do delivery         Yes
4                   In his house         6.0  ...  Does not do delivery          No
8                   In his house         1.0  ...  Does not do delivery          No
...                          ...         ...  ...                   ...         ...
10572               In his house         1.0  ...  Does not do delivery          No
10578               In his house         3.0  ...  Does not do delivery          No
10588  Charging / parking Vendor         5.0  ...  Does not do delivery          No
10602  Charging / parking Vendor         6.0  ...  Does not do delivery          No
10620  Charging / parking Vendor        16.0  ...  Does not do delivery          No

[2064 rows x 5 columns]

In [259]:
arr=df.values

In [260]:
arr

array([['In his house', 12.0, 'Lead acid (4 battery set)',
        'Does not do delivery', 'No'],
       ['Charging / parking Vendor', 12.0, 'Lead acid (2 battery set)',
        'Does not do delivery', 'Yes'],
       ['Charging / parking Vendor', 5.0, 'Lead acid (4 battery set)',
        'Does not do delivery', 'Yes'],
       ...,
       ['Charging / parking Vendor', 5.0, 'Lead acid (4 battery set)',
        'Does not do delivery', 'No'],
       ['Charging / parking Vendor', 6.0, 'Lead acid (4 battery set)',
        'Does not do delivery', 'No'],
       ['Charging / parking Vendor', 16.0, 'Lead acid (4 battery set)',
        'Does not do delivery', 'No']], dtype=object)

In [261]:
kproto=KPrototypes(n_clusters=2,verbose=2,max_iter=20)

In [262]:
clusters=kproto.fit_predict(arr,categorical=[0,2,3,4])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 51, ncost: 58066.32844129544
Run: 1, iteration: 2/20, moves: 6, ncost: 58063.66362633459
Run: 1, iteration: 3/20, moves: 0, ncost: 58063.66362633459
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 366, ncost: 60214.73020941175
Run: 2, iteration: 2/20, moves: 189, ncost: 58254.41224474979
Run: 2, iteration: 3/20, moves: 50, ncost: 58063.66362633459
Run: 2, iteration: 4/20, moves: 0, ncost: 58063.66362633459
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 543, ncost: 63096.400428773224
Run: 3, iteration: 2/20, moves: 354, ncost: 58880.207536404894
Run: 3, iteration: 3/20, moves: 102, ncost: 58162.08648182373
Run: 3, iteration: 4/20, moves: 35, ncost: 58063.66362633459
Run: 3, iteration: 5/20, moves: 0, ncost: 58063.66362633459
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 801, ncost: 66206.65710350167
Run: 4, iteration: 2/20, moves: 468, ncost: 60169.702837803154
Run: 4, iteration: 3/20, moves: 188, ncost: 58240.6436489407
Run: 4, iteration: 4/20, moves: 48, ncost: 58063.66362633459
Run: 4, iteration: 5/20, moves: 0, ncost: 58063.66362633459
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 32, ncost: 58063.66362633459
Run: 5, iteration: 2/20, moves: 0, ncost: 58063.66362633459
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 28, ncost: 58063.66362633459
Run: 6, iteration: 2/20, moves: 0, ncost: 58063.66362633459
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 320, ncost: 59743.83256015119
Run: 7, iteration: 2/20, moves: 161, ncost: 58240.6436489407
Run: 7, iteration: 3/20, moves: 48, ncost: 58063.66362633459
Run: 7, iteration: 4/20, moves: 0, ncost: 58063.66362633459
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 364, ncost: 60214.73020941175
Run: 8, iteration: 2/20, moves: 189, ncost: 58254.41224474979
Run: 8, iteration: 3/20, moves: 50, ncost: 58063.66362633459
Run: 8, iteration: 4/20, moves: 0, ncost: 58063.66362633459
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 543, ncost: 63096.400428773224
Run: 9, iteration: 2/20, moves: 354, ncost: 58880.207536404894
Run: 9, iteration: 3/20, moves: 102, ncost: 58162.08648182373
Run: 9, iteration: 4/20, moves: 35, ncost: 58063.66362633459
Run: 9, iteration: 5/20, moves: 0, ncost: 58063.66362633459
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 330, ncost: 59958.26464143963
Run: 10, iteration: 2/20, moves: 174, ncost: 58247.47443044103
Run: 10, iteration: 3/20, moves: 49, ncost: 58063.66362633459
Run: 10, iteration: 4/20, moves: 0, ncost: 58063.66362633459
Best run was number 1

In [263]:
print(kproto.cluster_centroids_)

[['4.418330308529946' 'In his house' 'Lead acid (4 battery set)'
  'Does not do delivery' 'No']
 ['14.69829683698297' 'In his house' 'Lead acid (4 battery set)'
  'Does not do delivery' 'No']]

In [264]:
cluster_dict=[]
for i in clusters:
  cluster_dict.append(i)

In [265]:
cluster_dict

[1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 ...]

In [266]:
df['Category']=cluster_dict

In [267]:
df

                         Parking  BatteryAge  ... DeliveryExp Category
0                   In his house        12.0  ...          No        1
1      Charging / parking Vendor        12.0  ...         Yes        1
2      Charging / parking Vendor         5.0  ...         Yes        0
4                   In his house         6.0  ...          No        0
8                   In his house         1.0  ...          No        0
...                          ...         ...  ...         ...      ...
10572               In his house         1.0  ...          No        0
10578               In his house         3.0  ...          No        0
10588  Charging / parking Vendor         5.0  ...          No        0
10602  Charging / parking Vendor         6.0  ...          No        0
10620  Charging / parking Vendor        16.0  ...          No        1

[2064 rows x 6 columns]

In [268]:
df[df['Category']==0]

                         Parking  BatteryAge  ... DeliveryExp Category
2      Charging / parking Vendor         5.0  ...         Yes        0
4                   In his house         6.0  ...          No        0
8                   In his house         1.0  ...          No        0
12                  In his house         1.0  ...          No        0
14     Charging / parking Vendor         1.0  ...          No        0
...                          ...         ...  ...         ...      ...
10565               In his house         3.0  ...          No        0
10572               In his house         1.0  ...          No        0
10578               In his house         3.0  ...          No        0
10588  Charging / parking Vendor         5.0  ...          No        0
10602  Charging / parking Vendor         6.0  ...          No        0

[1653 rows x 6 columns]

In [269]:
df[df['Category']==1]

                         Parking  BatteryAge  ... DeliveryExp Category
0                   In his house        12.0  ...          No        1
1      Charging / parking Vendor        12.0  ...         Yes        1
10     Charging / parking Vendor        15.0  ...          No        1
30                  In his house        12.0  ...          No        1
41     Charging / parking Vendor        18.0  ...          No        1
...                          ...         ...  ...         ...      ...
10528  Charging / parking Vendor        12.0  ...          No        1
10531               In his house        12.0  ...          No        1
10532               In his house        12.0  ...          No        1
10538  Charging / parking Vendor        12.0  ...          No        1
10620  Charging / parking Vendor        16.0  ...          No        1

[411 rows x 6 columns]

In [270]:
df[df['Category']==0].to_csv('Swap+Delivery1.csv')

In [271]:
df[df['Category']==1].to_csv('Swap+Delivery2.csv')

**SWAPPING!**

In [272]:
df1=data.iloc[:,8:11]

In [273]:
df1

                         Parking  BatteryAge                BatteryType
0                   In his house        12.0  Lead acid (4 battery set)
1      Charging / parking Vendor        12.0  Lead acid (2 battery set)
2      Charging / parking Vendor         5.0  Lead acid (4 battery set)
4                   In his house         6.0  Lead acid (4 battery set)
8                   In his house         1.0        Lithium Ion battery
...                          ...         ...                        ...
10572               In his house         1.0        Lithium Ion battery
10578               In his house         3.0  Lead acid (4 battery set)
10588  Charging / parking Vendor         5.0  Lead acid (4 battery set)
10602  Charging / parking Vendor         6.0  Lead acid (4 battery set)
10620  Charging / parking Vendor        16.0  Lead acid (4 battery set)

[2064 rows x 3 columns]

In [274]:
arr2=df1.values

In [275]:
kproto=KPrototypes(n_clusters=2,verbose=2,max_iter=20)

In [276]:
clusters=kproto.fit_predict(arr2,categorical=[0,2])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 886, ncost: 64047.09495642285
Run: 1, iteration: 2/20, moves: 491, ncost: 57583.320832804
Run: 1, iteration: 3/20, moves: 190, ncost: 55613.08936206883
Run: 1, iteration: 4/20, moves: 49, ncost: 55429.278557962374
Run: 1, iteration: 5/20, moves: 0, ncost: 55429.278557962374
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 22, ncost: 55429.278557962374
Run: 2, iteration: 2/20, moves: 0, ncost: 55429.278557962374
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 47, ncost: 55429.278557962374
Run: 3, iteration: 2/20, moves: 0, ncost: 55429.278557962374
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 487, ncost: 59800.8099112423
Run: 4, iteration: 2/20, moves: 305, ncost: 56245.82246803258
Run: 4, iteration: 3/20, moves: 102, ncost: 55527.7014134513
Run: 4, iteration: 4/20, moves: 35, ncost: 55429.278557962374
Run: 4, iteration: 5/20, moves: 0, ncost: 55429.278557962374
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 119, ncost: 55620.02717637747
Run: 5, iteration: 2/20, moves: 50, ncost: 55429.278557962374
Run: 5, iteration: 3/20, moves: 0, ncost: 55429.278557962374
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 240, ncost: 56354.06214167881
Run: 6, iteration: 2/20, moves: 109, ncost: 55549.777569714344
Run: 6, iteration: 3/20, moves: 39, ncost: 55429.278557962374
Run: 6, iteration: 4/20, moves: 0, ncost: 55429.278557962374
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 365, ncost: 57580.34514103949
Run: 7, iteration: 2/20, moves: 189, ncost: 55620.02717637747
Run: 7, iteration: 3/20, moves: 50, ncost: 55429.278557962374
Run: 7, iteration: 4/20, moves: 0, ncost: 55429.278557962374
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 603, ncost: 60899.35332625371
Run: 8, iteration: 2/20, moves: 380, ncost: 56359.959815470735
Run: 8, iteration: 3/20, moves: 112, ncost: 55533.03857415809
Run: 8, iteration: 4/20, moves: 36, ncost: 55429.278557962374
Run: 8, iteration: 5/20, moves: 0, ncost: 55429.278557962374
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 47, ncost: 55429.278557962374
Run: 9, iteration: 2/20, moves: 0, ncost: 55429.278557962374
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 429, ncost: 57729.220646093934
Run: 10, iteration: 2/20, moves: 189, ncost: 55758.7356586908
Run: 10, iteration: 3/20, moves: 66, ncost: 55429.278557962374
Run: 10, iteration: 4/20, moves: 0, ncost: 55429.278557962374
Best run was number 1

In [277]:
print(kproto.cluster_centroids_)

[['4.418330308529946' 'In his house' 'Lead acid (4 battery set)']
 ['14.69829683698297' 'In his house' 'Lead acid (4 battery set)']]

In [278]:
cluster_dict=[]
for i in clusters:
  cluster_dict.append(i)

In [279]:
cluster_dict

[1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 ...]

In [280]:
df1['Category']=cluster_dict

In [281]:
df1[df1['Category']==0]

                         Parking  ...  Category
2      Charging / parking Vendor  ...         0
4                   In his house  ...         0
8                   In his house  ...         0
12                  In his house  ...         0
14     Charging / parking Vendor  ...         0
...                          ...  ...       ...
10565               In his house  ...         0
10572               In his house  ...         0
10578               In his house  ...         0
10588  Charging / parking Vendor  ...         0
10602  Charging / parking Vendor  ...         0

[1653 rows x 4 columns]

In [282]:
df1[df1['Category']==0].to_csv('Swapping1.csv')

In [283]:
df1[df1['Category']==1]

                         Parking  ...  Category
0                   In his house  ...         1
1      Charging / parking Vendor  ...         1
10     Charging / parking Vendor  ...         1
30                  In his house  ...         1
41     Charging / parking Vendor  ...         1
...                          ...  ...       ...
10528  Charging / parking Vendor  ...         1
10531               In his house  ...         1
10532               In his house  ...         1
10538  Charging / parking Vendor  ...         1
10620  Charging / parking Vendor  ...         1

[411 rows x 4 columns]

In [284]:
df1[df1['Category']==1].to_csv('Swapping2.csv')

**DELIVERY!**

In [285]:
df2=data.iloc[:,11:13]

In [286]:
df2

               DeliveryOye! DeliveryExp
0      Does not do delivery          No
1      Does not do delivery         Yes
2      Does not do delivery         Yes
4      Does not do delivery          No
8      Does not do delivery          No
...                     ...         ...
10572  Does not do delivery          No
10578  Does not do delivery          No
10588  Does not do delivery          No
10602  Does not do delivery          No
10620  Does not do delivery          No

[2064 rows x 2 columns]

In [287]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2064 entries, 0 to 10620
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DeliveryOye!  2064 non-null   object
 1   DeliveryExp   2064 non-null   object
dtypes: object(2)
memory usage: 48.4+ KB

In [288]:
arr2=df2.values

In [289]:
arr2

array([['Does not do delivery', 'No'],
       ['Does not do delivery', 'Yes'],
       ['Does not do delivery', 'Yes'],
       ...,
       ['Does not do delivery', 'No'],
       ['Does not do delivery', 'No'],
       ['Does not do delivery', 'No']], dtype=object)

In [290]:
!pip install kmodes

Requirement already satisfied: kmodes in /usr/local/lib/python3.7/dist-packages (0.11.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (0.22.2.post1)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)

In [291]:
import numpy as np
from kmodes.kmodes import KModes

In [292]:
km=KModes(n_clusters=2,verbose=2,max_iter=20)

In [293]:
clusters=km.fit_predict(arr2)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/20, moves: 0, cost: 425.0

In [294]:
print(km.cluster_centroids_)

[['Does not do delivery' 'No']
 ['Delivery with Oye' 'No']]

In [295]:
cluster_dict=[]
for i in clusters:
  cluster_dict.append(i)

In [296]:
cluster_dict

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [297]:
df2['Category']=cluster_dict

In [298]:
df2[df2['Category']==0]

               DeliveryOye! DeliveryExp  Category
0      Does not do delivery          No         0
1      Does not do delivery         Yes         0
2      Does not do delivery         Yes         0
4      Does not do delivery          No         0
8      Does not do delivery          No         0
...                     ...         ...       ...
10572  Does not do delivery          No         0
10578  Does not do delivery          No         0
10588  Does not do delivery          No         0
10602  Does not do delivery          No         0
10620  Does not do delivery          No         0

[1675 rows x 3 columns]

In [299]:
df2[df2['Category']==0].to_csv('Delivery1.csv')

In [300]:
df2[df2['Category']==1]

            DeliveryOye! DeliveryExp  Category
16     Delivery with Oye          No         1
30     Delivery with Oye          No         1
56     Delivery with Oye          No         1
59     Delivery with Oye          No         1
65     Delivery with Oye          No         1
...                  ...         ...       ...
9998   Delivery with Oye          No         1
10079  Delivery with Oye         Yes         1
10086  Delivery with Oye          No         1
10097  Delivery with Oye          No         1
10456  Delivery with Oye          No         1

[389 rows x 3 columns]

In [301]:
df2[df2['Category']==1].to_csv('Delivery2.csv')

**PERSONAL DETAILS!**

In [302]:
per=pd.read_csv('/content/Personal_details.csv')

In [303]:
per

       Age    State Freq_Rickshaw  ... SocialMedia  Earning Drives_living
0       55    Bihar         Daily  ...         Yes      NaN           NaN
1       35    Bihar         Daily  ...         Yes  500-700           Yes
2       22  Haryana         Daily  ...         Yes  500-700           Yes
3      NaN      NaN           NaN  ...         NaN      NaN           NaN
4       31    Bihar         Daily  ...          No  500-700           Yes
...    ...      ...           ...  ...         ...      ...           ...
11047  NaN      NaN           NaN  ...         NaN      NaN           NaN
11048  NaN      NaN           NaN  ...         NaN      NaN           NaN
11049  NaN      NaN           NaN  ...         NaN      NaN           NaN
11050  NaN      NaN           NaN  ...         NaN      NaN           NaN
11051  NaN      NaN           NaN  ...         NaN      NaN           NaN

[11052 rows x 7 columns]

In [304]:
per.isnull().sum()

Age              8429
State            8438
Freq_Rickshaw    8421
qualification    8421
SocialMedia      8421
Earning          8422
Drives_living    6950
dtype: int64

In [305]:
per.dropna(inplace=True)

In [306]:
per.isnull().sum()

Age              0
State            0
Freq_Rickshaw    0
qualification    0
SocialMedia      0
Earning          0
Drives_living    0
dtype: int64

In [307]:
per.shape

(2606, 7)

In [308]:
per.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2606 entries, 1 to 10620
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            2606 non-null   object
 1   State          2606 non-null   object
 2   Freq_Rickshaw  2606 non-null   object
 3   qualification  2606 non-null   object
 4   SocialMedia    2606 non-null   object
 5   Earning        2606 non-null   object
 6   Drives_living  2606 non-null   object
dtypes: object(7)
memory usage: 162.9+ KB

In [309]:
per['Age'] = pd.to_numeric(per['Age'],errors = 'coerce')

In [310]:
per.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2606 entries, 1 to 10620
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            2596 non-null   float64
 1   State          2606 non-null   object
 2   Freq_Rickshaw  2606 non-null   object
 3   qualification  2606 non-null   object
 4   SocialMedia    2606 non-null   object
 5   Earning        2606 non-null   object
 6   Drives_living  2606 non-null   object
dtypes: float64(1), object(6)
memory usage: 162.9+ KB

In [311]:
per.isnull().sum()

Age              10
State             0
Freq_Rickshaw     0
qualification     0
SocialMedia       0
Earning           0
Drives_living     0
dtype: int64

In [312]:
per.dropna(inplace=True)

In [313]:
per.shape

(2596, 7)

In [314]:
arr_per=per.values

In [315]:
arr_per

array([[35.0, 'Bihar', 'Daily', ..., 'Yes', '500-700', 'Yes'],
       [22.0, 'Haryana', 'Daily', ..., 'Yes', '500-700', 'Yes'],
       [31.0, 'Bihar', 'Daily', ..., 'No', '500-700', 'Yes'],
       ...,
       [29.0, 'Delhi', 'Daily', ..., 'Yes', '700-900', 'Yes'],
       [44.0, 'Delhi', 'Daily', ..., 'No', '300-500', 'Yes'],
       [27.0, 'Uttar Pradesh', 'Daily', ..., 'Yes', '300-500', 'Yes']],
      dtype=object)

In [316]:
kproto=KPrototypes(n_clusters=2,verbose=2,max_iter=20)

In [317]:
clusters=kproto.fit_predict(arr_per,categorical=[1,2,3,4,5,6])

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 29, ncost: 101448.88994400315
Run: 1, iteration: 2/20, moves: 0, ncost: 101448.88994400315
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 634, ncost: 112067.24831809082
Run: 2, iteration: 2/20, moves: 350, ncost: 103616.05145836846
Run: 2, iteration: 3/20, moves: 114, ncost: 102679.47943442584
Run: 2, iteration: 4/20, moves: 0, ncost: 102679.47943442584
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 561, ncost: 102695.89360366599
Run: 3, iteration: 2/20, moves: 15, ncost: 102679.47943442584
Run: 3, iteration: 3/20, moves: 0, ncost: 102679.47943442584
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 119, ncost: 101368.25633888274
Run: 4, iteration: 2/20, moves: 0, ncost: 101368.25633888274
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 113, ncost: 101448.88994400315
Run: 5, iteration: 2/20, moves: 0, ncost: 101448.88994400315
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 72, ncost: 102679.47943442584
Run: 6, iteration: 2/20, moves: 0, ncost: 102679.47943442584
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 402, ncost: 108947.59689342635
Run: 7, iteration: 2/20, moves: 209, ncost: 104008.23742466902
Run: 7, iteration: 3/20, moves: 172, ncost: 101523.04504255182
Run: 7, iteration: 4/20, moves: 31, ncost: 101448.88994400315
Run: 7, iteration: 5/20, moves: 0, ncost: 101448.88994400315
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 318, ncost: 107643.01822634123
Run: 8, iteration: 2/20, moves: 216, ncost: 102809.33822635314
Run: 8, iteration: 3/20, moves: 131, ncost: 101448.88994400315
Run: 8, iteration: 4/20, moves: 0, ncost: 101448.88994400315
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 203, ncost: 101450.80448303126
Run: 9, iteration: 2/20, moves: 5, ncost: 101448.88994400315
Run: 9, iteration: 3/20, moves: 0, ncost: 101448.88994400315
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 46, ncost: 101448.88994400315
Run: 10, iteration: 2/20, moves: 0, ncost: 101448.88994400315
Best run was number 4

In [318]:
print(kproto.cluster_centroids_)

[['39.744623655913976' 'Bihar' 'Daily' 'Below 10th' 'Yes' '500-700' 'Yes']
 ['25.804054054054053' 'Bihar' 'Daily' 'Below 10th' 'Yes' '500-700' 'Yes']]

In [319]:
cluster_dict=[]
for i in clusters:
  cluster_dict.append(i)

In [320]:
per['Category']=cluster_dict

In [321]:
per[per['Category']==0]

        Age          State Freq_Rickshaw  ...  Earning Drives_living Category
1      35.0          Bihar         Daily  ...  500-700           Yes        0
14     54.0          Bihar         Daily  ...  500-700           Yes        0
24     62.0        Haryana         Daily  ...  500-700           Yes        0
31     34.0      Rajasthan         Daily  ...  500-700           Yes        0
54     46.0    West Bengal         Daily  ...  300-500           Yes        0
...     ...            ...           ...  ...      ...           ...      ...
10542  39.0  Uttar Pradesh         Daily  ...  300-500           Yes        0
10572  35.0          Delhi         Daily  ...  300-500           Yes        0
10574  42.0  Uttar Pradesh         Daily  ...  500-700           Yes        0
10602  38.0          Delhi         Daily  ...  300-500           Yes        0
10613  44.0          Delhi         Daily  ...  300-500           Yes        0

[1116 rows x 8 columns]

In [322]:
per[per['Category']==0].to_csv('PersonalCategory1.csv')

In [323]:
per[per['Category']==1]

        Age          State Freq_Rickshaw  ...    Earning Drives_living Category
2      22.0        Haryana         Daily  ...    500-700           Yes        1
4      31.0          Bihar         Daily  ...    500-700           Yes        1
8      26.0          Bihar         Daily  ...    500-700           Yes        1
10     32.0  Uttar Pradesh         Daily  ...    500-700           Yes        1
12     29.0  Uttar Pradesh         Daily  ...  above 900           Yes        1
...     ...            ...           ...  ...        ...           ...      ...
10586  18.0  Uttar Pradesh         Daily  ...  above 900           Yes        1
10588  22.0          Delhi         Daily  ...    300-500           Yes        1
10593  22.0          Bihar         Daily  ...    300-500           Yes        1
10608  29.0          Delhi         Daily  ...    700-900           Yes        1
10620  27.0  Uttar Pradesh         Daily  ...    300-500           Yes        1

[1480 rows x 8 columns]

In [324]:
per[per['Category']==1].to_csv('PersonalCategory2.csv')

In [232]:
pr=pd.read_csv('/content/Personal_details.csv')

In [233]:
pr.dropna(inplace=True)

In [234]:
pr.isnull().sum()

Age              0
State            0
Freq_Rickshaw    0
qualification    0
SocialMedia      0
Earning          0
Drives_living    0
dtype: int64

In [235]:
arr_pr=pr.values

In [236]:
km=KModes(n_clusters=2,verbose=2,max_iter=20)

In [237]:
clusters=km.fit_predict(arr_pr)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/20, moves: 0, cost: 6532.0

In [238]:
print(km.cluster_centroids_)

[['32' 'Bihar' 'Daily' 'Below 10th' 'Yes' '500-700' 'Yes']
 ['30' 'Uttar Pradesh' 'Daily' '10th -12th' 'No' '300-500' 'Yes']]

In [239]:
cluster_dict=[]
for i in clusters:
  cluster_dict.append(i)

In [240]:
pr['Category']=cluster_dict

In [241]:
pr[pr['Category']==0]

      Age          State Freq_Rickshaw  ...    Earning Drives_living Category
1      35          Bihar         Daily  ...    500-700           Yes        0
2      22        Haryana         Daily  ...    500-700           Yes        0
4      31          Bihar         Daily  ...    500-700           Yes        0
8      26          Bihar         Daily  ...    500-700           Yes        0
10     32  Uttar Pradesh         Daily  ...    500-700           Yes        0
...    ..            ...           ...  ...        ...           ...      ...
10586  18  Uttar Pradesh         Daily  ...  above 900           Yes        0
10588  22          Delhi         Daily  ...    300-500           Yes        0
10593  22          Bihar         Daily  ...    300-500           Yes        0
10608  29          Delhi         Daily  ...    700-900           Yes        0
10620  27  Uttar Pradesh         Daily  ...    300-500           Yes        0

[2108 rows x 8 columns]

In [242]:
pr[pr['Category']==1]

      Age           State Freq_Rickshaw  ...  Earning Drives_living Category
13     28   Uttar Pradesh         Daily  ...  700-900           Yes        1
24     62         Haryana         Daily  ...  500-700           Yes        1
30     25   Uttar Pradesh         Daily  ...  300-500           Yes        1
31     34       Rajasthan         Daily  ...  500-700           Yes        1
54     46     West Bengal         Daily  ...  300-500           Yes        1
...    ..             ...           ...  ...      ...           ...      ...
10532  33  Madhya Pradesh         Daily  ...  300-500           Yes        1
10536  29   Uttar Pradesh         Daily  ...  300-500           Yes        1
10542  39   Uttar Pradesh         Daily  ...  300-500           Yes        1
10602  38           Delhi         Daily  ...  300-500           Yes        1
10613  44           Delhi         Daily  ...  300-500           Yes        1

[498 rows x 8 columns]

In [325]:
own=data.iloc[:,5:8]

In [326]:
own

      Owns        Method       LoanFrom
0      Yes      EMI/Loan  Local lenders
1      Yes      EMI/Loan           Bank
2      Yes      EMI/Loan           Bank
4      Yes  Not an owner           Bank
8      Yes      EMI/Loan  Local lenders
...    ...           ...            ...
10572  Yes   Downpayment  Local lenders
10578  Yes   Downpayment  Local lenders
10588  Yes   Downpayment           Bank
10602  Yes   Downpayment           Bank
10620  Yes   Downpayment  Local lenders

[2064 rows x 3 columns]

In [327]:
own.isnull().sum()

Owns        0
Method      0
LoanFrom    0
dtype: int64

In [329]:
own_arr=own.values

In [330]:
own_arr

array([['Yes', 'EMI/Loan', 'Local lenders'],
       ['Yes', 'EMI/Loan', 'Bank'],
       ['Yes', 'EMI/Loan', 'Bank'],
       ...,
       ['Yes', 'Downpayment', 'Bank'],
       ['Yes', 'Downpayment', 'Bank'],
       ['Yes', 'Downpayment', 'Local lenders']], dtype=object)

In [331]:
km=KModes(n_clusters=2,verbose=2,max_iter=20)

In [332]:
clusters=km.fit_predict(own_arr)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/20, moves: 0, cost: 1218.0

In [333]:
cluster_dict=[]
for i in clusters:
  cluster_dict.append(i)

In [334]:
own['Category']=cluster_dict

In [335]:
own[own['Category']==0]

      Owns        Method       LoanFrom  Category
0      Yes      EMI/Loan  Local lenders         0
1      Yes      EMI/Loan           Bank         0
2      Yes      EMI/Loan           Bank         0
4      Yes  Not an owner           Bank         0
8      Yes      EMI/Loan  Local lenders         0
...    ...           ...            ...       ...
10542  Yes   Downpayment           Bank         0
10543  Yes   Downpayment           Bank         0
10565  Yes  Not an owner           Bank         0
10588  Yes   Downpayment           Bank         0
10602  Yes   Downpayment           Bank         0

[1485 rows x 4 columns]

In [336]:
own[own['Category']==1]

      Owns        Method       LoanFrom  Category
21     Yes  Not an owner  Local lenders         1
24     Yes   Downpayment  Local lenders         1
30      No  Not an owner  Local lenders         1
56     Yes   Downpayment  Local lenders         1
66     Yes   Downpayment  Local lenders         1
...    ...           ...            ...       ...
10491  Yes   Downpayment  Local lenders         1
10530  Yes   Downpayment  Local lenders         1
10572  Yes   Downpayment  Local lenders         1
10578  Yes   Downpayment  Local lenders         1
10620  Yes   Downpayment  Local lenders         1

[579 rows x 4 columns]

In [338]:
own[own['Category']==1].to_csv('Ownership1.csv')

In [340]:
own[own['Category']==0].to_csv('Ownership2.csv')